*{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#nyt-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 48px;
    height: 200px;
    background-color: #23395d;
    border-radius: 4px;
}

.section-header {
    background-color: whitesmoke;
    padding: 5px;
}

#form { 
    padding: 8px 5px;
}